@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: repeating-linear-gradient(-35deg,#ed1717,#f24d11, #f6830c,#fbb806,#ffee00);
    display: flex;
    justify-content: center;
    align-items: center;
}
.credits {
    text-align: center;
    text-decoration: none;
    color: rgba(250, 235, 215, 0.664);
    position: fixed;
    bottom: 0;
}
.scramble {
    margin: auto;
    display: flex;
    max-width: 90vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.scramble-generator {
    margin: auto;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 20px;
    box-shadow: 0 10px 17px rgba(0,0,0,0.4);
}
.title {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 25px;
}
.scramble-333 {
    font-size: 1.5rem;
    word-spacing: 3px;
    padding: 10px;
    margin: 10px;
}
.btn-generator {
    margin: 20px 0 0 0;
    padding: 5px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    transition: all 0.2s;
}
.btn-generator:hover {
    background-color: rgb(40,20,225);
    color: bisque;
    box-shadow: 0 0 15px rgba(40,20,225,0.5);
}